#aboutPage {
  position: relative;
  padding-top: 10px;
  padding-bottom: 40px;

  .what-we-do {
    position: relative;
    margin-top: 40px;
  }

  .well {
    position: relative;
    height: 280px;
  }
}